* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Pathway Gothic One', sans-serif;
}
 body {
    min-width: 1024px;
 }

/* ------HEADER------ */

header {
    height: 230px;
    display: flex;
    width: 100vw;
    justify-content: center;
    align-items: center;
    background: url(https://imagens.ne10.uol.com.br/img/imagens/2020/05/18/98422ee6e7_aniversario-de-caruaru-janaina-pepeu-ne10.jpg) center 0 no-repeat;
}

nav {
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-a {
    font-size: 28px;
    line-height: 28px;
    color: white;
    text-transform: uppercase;
    transition: color 0.3s ease;
}

.header-a:hover {
    color: #263555;
}

/* ------LOGO------ */

.container-circle-logo {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background-color: white;
    position: relative;
}

#logo {
    position: absolute;
    top: 10%;
    left: 11%;
    width: 150px;
}

/* ------MAIN------ */
main {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-container {
    width: 80%;
    display: flex;
    flex-direction: row;
    padding: 5%;
}

/* ------LEFT SECTION------ */

.container-text {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container-text h2 {
    font-size: 2.5em;
}

.container-text p {
    font-size: 1.2em;
    padding-top: 4%;
}

/* ------RIGHT SECTION------ */

.container-form {
    width: 40%;
    display: flex;
    justify-content: center;
}

.background-form {
    width: 90%;
    padding: 4%;
    border-radius: 20px;
    background-color: antiquewhite;
}

form {
    padding: 4% 2%;
}

legend, .container-input {
    padding-bottom: 5%;
}

.container-name {
    display: flex;
}

.container-input-name {
    margin-right: 20%;
}

input {
    width: 100%;
    height: 5vh;
    font-size: 1.2em;
    border-radius: 33px;
    outline: none;
    padding: 0 4%;
    border: none;
}

textarea {
    border-radius: 20px;
    outline: none;
    padding: 3% 4%;
    border: none;
    font-size: 1.2em;
}


/* ------FOOTER------ */

footer {
    height: 35vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(https://imagens.ne10.uol.com.br/img/imagens/2020/05/18/98422ee6e7_aniversario-de-caruaru-janaina-pepeu-ne10.jpg) center 0 no-repeat;
    background-position: center; 
}

@media screen and (max-width: 768px) {
    nav {
        height: 85%;
        flex-direction: column;
        align-content: space-between;
    }

    header {
        height: 50vh;
    }

    .flex-container{
        flex-direction: column;
        width: 100vw;
        padding-top: 5%;
        padding-bottom: 5%;
        align-items: center;
    }

    .container-text {
        width: 80%;
    }
}