* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Pathway Gothic One', sans-serif;
}
 body {
    max-width: 1440px;
    margin: 0 auto;
    background: url(https://imagens.ne10.uol.com.br/img/imagens/2020/05/18/98422ee6e7_aniversario-de-caruaru-janaina-pepeu-ne10.jpg) center 0 no-repeat;
    background-size: cover;
 }

/* ------HEADER------ */

header {
    height: 230px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

nav {
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-a {
    font-size: 28px;
    line-height: 28px;
    color: white;
    text-transform: uppercase;
    transition: color 0.3s ease;
}

.header-a:hover {
    color: #263555;
}

/* ------LOGO------ */

.container-circle-logo {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background-color: white;
    position: relative;
}

#logo {
    position: absolute;
    top: 10%;
    left: 11%;
    width: 150px;
}

/* ------MAIN------ */
main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 235, 235, 0.474);
}

.flex-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 3%;
}

/* ------LEFT SECTION------ */

.container-text {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
}

.container-text h2 {
    font-size: 2.9em;
}

.container-text p {
    font-size: 1.4em;
    padding-top: 4%;
    font-weight: 600;
}

/* ------RIGHT SECTION------ */

.container-form {
    width: 50%;
    display: flex;
    justify-content: center;
}

.background-form {
    width: 90%;
    padding: 4%;
    border-radius: 20px;
    background-color: #4a657eaf;
}

form {
    padding: 4% 2%;
}

legend, .container-input {
    padding-bottom: 5%;
}

.container-name {
    display: flex;
    justify-content: space-between;
}

#container-input-name, #container-input-surname {
    width: 48%;
}

#container-input-name input,  #container-input-surname input{
    padding-left: 15px;
}

.text {
    width: 100%;
    height: 5vh;
    font-size: 1.2em;
    border-radius: 33px;
    outline: none;
    padding: 0 4%;
    border: none;
}

textarea {
    border-radius: 20px;
    outline: none;
    padding: 3% 4%;
    border: none;
    font-size: 1.2em;
    width: 100%;
    padding-bottom: 80px;
}

legend {
    font-size: 2em;
    color: white;
}

.container-input label {
    font-size: 1.5em;
    color: white;
}

.container-check {
    padding-top: 10px;
}

.check {
    margin-left: 10px;
}

input[type="submit"] {
    padding: 10px 30px;
    border-radius: 33px;
    border: none;
}

/* ------FOOTER------ */

footer {
    height: 35%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #eee;
    font-size: 24px;    
}

footer div{
    background-color: #30455B;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer table{
    width: 80%;
    padding: 20px 0;
}

footer table tr{
    width: 300px;
    gap: 0 200px;
}

footer table tr th {
    width: 200px;
    font-weight: 900px;
}

footer table tr td {
    width: 200px;
    text-align: center;
}


footer table tr a {
    color: rgb(109, 193, 222);
}


footer table tr a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 768px) {
    nav {
        height: 85%;
        flex-direction: column;
        align-content: space-between;
    }

    header {
        height: 50vh;
    }

    .container-circle-logo{
        width: 150px;
        height: 150px;
    }

    #logo{
        top: 18%;
        left: 20%;
        width: 100px;
    }

    .flex-container{
        flex-direction: column;
        width: 100vw;
        padding-top: 5%;
        padding-bottom: 5%;
        align-items: center;
        gap: 50px 0

    }

    .container-text {
        width: 80%;
    }

    .container-form{
        width: 100%;
    }

    footer{
        height: 200px;
    }

    footer table tr{
        width: 200px;
        font-size: 18px;
        font-weight: 400px;
        
    }

    footer table tr th{
        text-align: start;
    }

    footer table tr td{
        text-align: start;
    }
}
