* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Pathway Gothic One', sans-serif;
    
}

body {
    height: 100%;
    background-image: url(https://imagens.ne10.uol.com.br/img/imagens/2020/05/18/98422ee6e7_aniversario-de-caruaru-janaina-pepeu-ne10.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    backdrop-filter: blur(3px);
    max-width: 1300px;
    margin: 0 auto;
    background-size: cover;

}

main {
    color: black;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.474);
    flex-direction: column;
    text-align: center;
    border-radius: 10px;

}

/* Style Imag/Video */
.photos {
    margin: 40px;
    width: 750px;
    height: 450px;
    transition: 2s;

}

.photos:hover {
    transform: perspective(900px) translateZ(150px);

}

.photos {
    animation: load-from-left 1.5s;
    border-top-color: #000000;
    border-radius: 10%;

}

@keyframes load-from-left {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0%);
    }
}

@keyframes load-from-right {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0%);
    }
}

video {
    border-radius: 10%;

}

/* Style Fonts */
h1,
h2,
h3 {
    line-height: 30px;
    color: black;

}

h2 {
    font-size: 35px;
    animation: load-from-right 1.5s;
    border-top-color: #000000;

}

h3 {
    font-size: 25px;
    animation: load-from-right 1.5s;
    border-top-color: #000000;

}

h1 {
    margin-top: 30px;
    animation: load-from-right 1.5s;
    border-top-color: #000000;

}

h1:hover {
    color: rgb(40, 39, 39);

}

h2:hover {
    color: rgb(40, 39, 39);

}

h3:hover {
    color: rgb(40, 39, 39);

}
/* Cube */

#cube {
    margin-left: 1100px;
    margin-bottom: 60px;
    width: 50px;
    height: 50px;
    animation: rotate 10s infinite alternate;
    transform-style: preserve-3d;

}

.face {

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: rgb(90, 29, 29);
    position: absolute;

}

.face--front {
    transform: translateZ(60px);
}

.face--right {
    transform: rotateY(90deg) translateZ(50px);
}

.face--back {
    transform: rotateY(180deg) translateZ(50px);
}

.face--left {
    transform: rotateY(-90deg) translateZ(50px);
}


@keyframes rotate {
    from {
        transform: rotateX(-20deg) rotateY(-10deg);
    }

    50% {
        transform: rotateX(20deg) rotateY(320deg);
    }

    to {
        transform: rotateX(-20deg) rotateY(-20deg);
    }
}