/* Definindo máximo tamanho do container */
:root{
    --container-width: 1300px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a, a:hover {
    text-decoration: none;
}

/* Inserindo imagem de fundo borrada */
body {
    height: 100%;
    background-image: url(https://imagens.ne10.uol.com.br/img/imagens/2020/05/18/98422ee6e7_aniversario-de-caruaru-janaina-pepeu-ne10.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    backdrop-filter: blur(3px);
}

/* Configurações de fonte */
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    font-family: 'Pathway Gothic One', sans-serif;
    color: #263555;
}
p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 10px;
}

/* Alinhando os itens da main na vertical */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Ajuste do tamanho e definição da animação dos slides da main */
.main-content .slides {
    width: 80%;
    height: 36vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    overflow: hidden;
    /* Animação do background */
    animation: slide 20s infinite;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* Animação dos slides GAMBIARRA */
@keyframes slide {
    0% {
        background-image: url(../imagens/felipe-imagens/feira-de-caruaru.jpg);
    }
    10% {
        background-image: url(../imagens/felipe-imagens/feira-de-caruaru.jpg);
    }
    15% {
        background-image: url(../imagens/felipe-imagens/sao-joao-caruaru.jpg);
    }
    35% {
        background-image: url(../imagens/felipe-imagens/sao-joao-caruaru.jpg);
    }
    40% {
        background-image: url(../imagens/felipe-imagens/morro-bom-jesus.webp);
    }
    60% {
        background-image: url(../imagens/felipe-imagens/morro-bom-jesus.webp);
    }
    65% {
        background-image: url(../imagens/felipe-imagens/feira-da-sulanca.jpg);
    }
    85% {
        background-image: url(../imagens/felipe-imagens/feira-da-sulanca.jpg);
    }
    90% {
        background-image: url(../imagens/felipe-imagens/feira-de-caruaru.jpg);
    }
    100% {
        background-image: url(../imagens/felipe-imagens/feira-de-caruaru.jpg);
    }
}


/* Container para posicionar os elementos dentro da reigão branca da página */
.container {
    background-color: #fff;
    max-width: var(--container-width);
    margin-left: 5vw;
    margin-right: 5vw;
    padding-left: 25px; /* MUDAR COM MEDIA QUERY */
    padding-right: 25px; /* MUDAR COM MEDIA QUERY */
    overflow: hidden;
}

/* Texto de título */
.title {
    font-size: 38px;
    line-height: 44px;
    color: #263555;
    margin-top: 62px;
    margin-bottom: 54px;
    text-align: center;
}

/* Ajustes da seção com os cards de pontos turísticos */
.card {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 40px;
}

/* Ajuste no tamanho dos cards de pontos turísticos */
.hover-container {
    display: flex;
    width: 32%;
    height: 300px;
    overflow: hidden;
}

/* Configuração da caixa de texto dos pontos turísticos */
.hover-container .text-box {
    background-color: #193149;
    width: 50%;
    opacity: 1;
    padding: 10px;
    margin-left: -50%; /* Necessário para fazer animação */
    transition: all 0.7s; 
}
.text-box h3 {
    color: #ffffff;
    text-align: center;
    padding-top: 18px;
    font-size: 28px;
    margin-bottom: 18px;
}
.text-box p {
    color: #ffffff;
    text-align: justify;
}

/* Imagens dos cards */
#tancredo {
    background-image: url(../imagens/800px-Caruaru-Espaço-Cultural-Tancredo-Neves.jpg);
    background-size: cover;
}
#gonzaga {
    background-image: url(../imagens/museu-do-barro-e-museu.jpg);
    background-size: cover;
}
#autodromo {
    background-image: url(../imagens/4-autodromo-caruaru.jpg);
    background-size: cover;
}

/* Animação da caixa de texto */
.hover-container:hover .text-box {
    margin-left: 0px;
}

/* Seção de localização */
.location {
    display: flex;
    padding-bottom: 30px;
}
.location article {
    width: 50%;
    padding-left: 20px;
    padding-right: 20px;
}

/* ------HEADER------ (copiado de Carol) */
header {
    height: 230px;
    display: flex;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

header nav {
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-a {
    font-size: 28px;
    line-height: 28px;
    color: white;
    text-transform: uppercase;
    transition: color 0.3s ease;
    font-family: 'Pathway Gothic One', sans-serif;
}

.header-a:hover {
    color: #263555;
}

/* ------LOGO------ */
.container-circle-logo {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background-color: white;
    position: relative;
}

#logo {
    position: absolute;
    top: 10%;
    left: 11%;
    width: 150px;
}

/* ------FOOTER------ */

.test {
    display: block;
    max-width: var(--container-width);
    width: 100%;
}

footer {
    height: 35%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #eee;
    font-size: 24px;    
    font-family: 'Pathway Gothic One', sans-serif;
}

footer div{
    background-color: #30455B;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer table{
    width: 80%;
    padding: 20px 0;
}

footer table tr{
    width: 300px;
    gap: 0 200px;
}

footer table tr th {
    width: 200px;
    font-weight: 900px;
}

footer table tr td {
    width: 200px;
    text-align: center;
}


footer table tr a {
    color: rgb(109, 193, 222);
}


footer table tr a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 768px) {
    nav {
        height: 85%;
        flex-direction: column;
        align-content: space-between;
    }

    header {
        height: 50vh;
    }

    .container-circle-logo{
        width: 150px;
        height: 150px;
    }

    #logo{
        top: 18%;
        left: 20%;
        width: 100px;
    }

    .flex-container{
        flex-direction: column;
        width: 100vw;
        padding-top: 5%;
        padding-bottom: 5%;
        align-items: center;
        gap: 50px 0

    }

    .container-text {
        width: 80%;
    }

    .container-form{
        width: 100%;
    }

    footer{
        height: 200px;
    }

    footer table tr{
        width: 200px;
        font-size: 18px;
        font-weight: 400px;
        
    }

    footer table tr th{
        text-align: start;
    }

    footer table tr td{
        text-align: start;
    }
}

/* -------- SOCIAL MEDIA ---------- */
.social-media {
    height: 230px;
}
.social-media p {
    text-align: center;
    color: #fff;
    font-weight: 400;
}
.social-media a:visited {
    color: #fff;
}
.social-media a:hover {
    color: #4888c7;
    font-weight: 700;
}
.socials {
    text-align: center;
    margin-bottom: 21px;
    margin-top: 21px;
}
.socials a {
    margin: 0 5px;
    display: inline-block;
    width: 46px;
    height: 46px;
    background: url(../imagens/socials.png) 0 0 no-repeat;
    transition: all 0.3s;
}
.socials a+a {
    background-position: -60px 0;
}
.socials a+a+a {
    background-position: -122px 0;
}
.socials a+a+a+a {
    background-position: right 0;
}
.socials a:hover {
    filter: brightness(80%);
}

/* MEDIA QUERIES */
@media (max-width: 1150px) {
    main {
        display: block;
    }
    .card {
        flex-direction: column;
        align-items: center;
        padding-bottom: 10px;
    }
    .hover-container {
        margin-top: 10px;
        width: 350px;
    }
    .location {
        flex-direction: column;
        align-items: center;
    }
    .location article {
        width: 100%;
        padding-left: 0px;
        padding-right: 0px;
    }
    .location aside {
        padding-top: 20px;
        width: 100%;
    }
    .location iframe {
        width: 100%;
    }
}